/* eslint-disable */

.navbar {
  background: transparent url("./Images/nav_bar.png");
  height: 100px;
  @apply .w-screen .bg-no-repeat .bg-cover .overflow-hidden .fixed .pin-t;
}
.back-button {
  background: transparent url("./Images/back.png");
  @apply .bg-no-repeat .bg-cover .cursor-pointer .float-left;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment:scroll;
  height: 23px;
  width: 23px;
  margin-top: 20px;
  margin-left: 20px;
}
.heading {
  @apply .text-white .font-light .text-left .truncate;
  margin-top: 17px;
  margin-left: 55px;
  font-size: 27px;
  width: calc(100% - 99px);
}
.search-input {
  @apply .text-white .font-light .text-left .absolute;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment:scroll;
  top: 11px;
  left: 50px;
  height: 40px;
  background-color: black;
  font-size: 22px;
  width: calc(100% - 109px);
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 10px;
}
.search-button {
  background: transparent url("./Images/search.png");
  @apply .bg-cover .bg-no-repeat .cursor-pointer .absolute;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment:scroll;
  height: 28px;
  width: 28px;
  top: 16px;
  right: 21px;
}
.video-name {
  @apply .text-white .font-light .text-left .truncate;
  margin-top: 12px;
}

@tailwind preflight;

/* Here we can add any custom overrides */
@tailwind utilities;

/* Here we can add our own utilities or custom CSS */
