.navbar{
    background: transparent url("../Images/nav_bar.png");
    background-size: cover;
    height: 120px;
    overflow: auto;
    position: fixed;
    top: 0px;
    overflow: hidden;
}
.back-button{
    background: transparent url("../Images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 23px;
    width: 23px;
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    cursor:pointer;
    float: left;
}
.heading{
    margin-top: 27px;
    margin-left: 55px;
    color: white;
    font-size: 27px;
    font-weight: lighter;
    text-align: left;
    width: calc(100% - 99px);
}
.search-button{
    background: transparent url("../Images/search.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    cursor:pointer;
    position: absolute;
    top: 26px;
    right: 21px;
}
