.list-container {
  margin-top: 57px;
  z-index: 100;
  background-color: #191919;
  height: calc(100vh - 57px);
}
.video-cell {
  margin-right: 15px;
  width: calc((100% - 60px) / 3);
  margin-top: 15px;
  margin-bottom: 30px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%; 
}
.video-cell:nth-child(3n + 1) {
  margin-left: 15px;
}
.video-cell img {
  width: 100%;
  background-image: url("./../Images/placeholder_for_missing_posters.png");
}
.error-message {
  font-size: 21px;
  margin-top: 60px;
}
div:focus,
input:focus {
  outline: 0;
}
